<?xml version="1.0" encoding="UTF-8"?>
<web-app id="WebApp_ID" version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee    http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <display-name>Books Management Web Application</display-name>
    <context-param>
        <param-name>jdbcURL</param-name>
        <param-value>jdbc:mysql://localhost:3306/bookstore</param-value>
    </context-param>
    <context-param>
        <param-name>jdbcUsername</param-name>
        <param-value>root</param-value>
    </context-param>
    <context-param>
        <param-name>jdbcPassword</param-name>
        <param-value>mysql</param-value>
    </context-param>
    <listener>
        <description>ServletContextListener</description>
        <listener-class>bookstore.BookListener</listener-class>
    </listener>
    <servlet>
        <servlet-name>ControllerServlet</servlet-name>
        <servlet-class>bookstore.ControllerServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>ControllerServlet</servlet-name>
        <url-pattern>/delete</url-pattern>
        <url-pattern>/getbook</url-pattern>
        <url-pattern>/list</url-pattern>
        <url-pattern>/new</url-pattern>
        <url-pattern>/edit</url-pattern>
        <url-pattern>/insert</url-pattern>
        <url-pattern>/update</url-pattern>
    </servlet-mapping>
    <error-page>
        <exception-type>java.lang.Exception</exception-type>
        <location>/Error.jsp</location>
    </error-page>
    <error-page>
        <error-code>404</error-code>
        <location>/Error.jsp</location>
    </error-page>
</web-app>
